<content-type name="/page/text-area-widget-test-page" is-wcm-type="true">
<label>Text Area Widget Test Page</label>
<form>/page/text-area-widget-test-page</form>
<form-path>simple</form-path>
<model-instance-path>NOT-USED-BY-SIMPLE-FORM-ENGINE</model-instance-path>
<file-extension>xml</file-extension>
<content-as-folder>true</content-as-folder>
<previewable>true</previewable>
<noThumbnail>true</noThumbnail>
<image-thumbnail></image-thumbnail>
</content-type>